In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

 # Load the Data

In [3]:
data=pd.read_csv("E:/movies_recommendation_system/artifacts/raw.csv")

In [4]:
data.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,0,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,0,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,0,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,0,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,0,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [5]:
data.tail()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
1068592,713630,Drifts,0.0,0,Released,2017-01-01,0,8,0,NaN,...,Drifts,Milling about...,0.600,/p8TSAA4hz7yJPgOC38EcQsE1OqV.jpg,NaN,Documentary,NaN,NaN,English,NaN
1068593,713631,ANIMAL CONDENSED>>ANIMAL EXPANDED#2,0.0,0,Released,2018-06-04,0,14,0,NaN,...,ANIMAL CONDENSED>>ANIMAL EXPANDED#2,The director couldn’t have anticipated the cor...,0.600,/7tLfGkmRZeepntPuyIq8ywLLlS2.jpg,NaN,Science Fiction,"Arts Council England, University of the Arts L...",United Kingdom,English,NaN
1068594,713634,Southern Journey (Revisited),0.0,0,Released,2020-06-20,0,0,0,NaN,...,Southern Journey (Revisited),Traversing the back-roads of the Southern Unit...,0.600,/aJZoxfiJ1cq9KIL41UCDbXrwXO7.jpg,NaN,"Documentary, Music",NaN,NaN,NaN,NaN
1068595,713635,La Dame de chez Maxim,0.0,0,Released,2020-06-07,0,125,0,NaN,...,La Dame de chez Maxim,"Doctor Petypon, a respectable doctor, partied ...",0.681,/gX66xwbdFlMkif1c4rkIAEDBxuD.jpg,NaN,Comedy,"le Théâtre de Montansier de Versailles, Theatr...",France,French,theater play
1068596,1321103,Black Ag,0.0,0,Released,NaN,0,9,0,NaN,...,Black Ag,A Black scientist brings together local Black ...,0.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068597 entries, 0 to 1068596
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1068597 non-null  int64
 1   title                 1068585 non-null  object
 2   vote_average          1068597 non-null  float64
 3   vote_count            1068597 non-null  int64
 4   status                1068597 non-null  object
 5   release_date          919961 non-null   object
 6   revenue               1068597 non-null  int64
 7   runtime               1068597 non-null  int64
 8   adult                 1068597 non-null  int64
 9   backdrop_path         292281 non-null   object
 10  budget                1068597 non-null  int64
 11  homepage              115143 non-null   object
 12  imdb_id               588307 non-null   object
 13  original_language     1068597 non-null  object
 14  original_title        1068585 non-null  object
 15  overview              867546 non-null   object
 16  popularity            1068597 non-null  float64
 17  poster_path           752760 non-null   object
 18  tagline               152245 non-null   object
 19  genres                658265 non-null   object
 20  production_companies  495484 non-null   object
 21  production_countries  614849 non-null   object
 22  spoken_languages      630610 non-null   object
 23  keywords              299609 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 195.7+ MB

In [7]:
data.describe()

,id,vote_average,vote_count,revenue,runtime,adult,budget,popularity
count,1.068597e+06,1.068597e+06,1.068597e+06,1.068597e+06,1.068597e+06,1.068597e+06,1.068597e+06,1.068597e+06
mean,7.013812e+05,1.985565e+00,2.007031e+01,7.113737e+05,4.924788e+01,9.306502e-02,2.793325e+05,1.285156e+00
std,3.753771e+05,3.066278e+00,3.284578e+02,1.794087e+07,6.206482e+01,2.905237e-01,5.063786e+06,7.821327e+00
min,2.000000e+00,0.000000e+00,0.000000e+00,-1.200000e+01,-2.800000e+01,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.905210e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e-01
50%,7.038130e+05,0.000000e+00,0.000000e+00,0.000000e+00,2.600000e+01,0.000000e+00,0.000000e+00,6.000000e-01
75%,1.030912e+06,5.000000e+00,1.000000e+00,0.000000e+00,9.000000e+01,0.000000e+00,0.000000e+00,8.850000e-01
max,1.321371e+06,1.000000e+01,3.449500e+04,3.000000e+09,1.440000e+04,1.000000e+00,9.000000e+08,2.994357e+03

In [8]:
data.describe(include='object')

,title,status,release_date,backdrop_path,homepage,imdb_id,original_language,original_title,overview,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
count,1068585,1068597,919961,292281,115143,588307,1068597,1068585,867546,752760,152245,658265,495484,614849,630610,299609
unique,918384,6,42494,289833,108249,587569,174,951334,844306,748532,146601,13009,199658,9925,6975,171888
top,Home,Released,2006-01-01,/3CxwYgqGtJ6UEGfWUT0gMYCIlFP.jpg,https://animation.geidai.ac.jp,tt32094375,en,Untitled,,/wtoKLMm4UvkwvcSwO3XWcs1gJuF.jpg,English,Documentary,Evil Angel,United States of America,English,short film
freq,144,1047373,3529,157,147,35,579071,101,997,54,195,129712,2866,172566,224694,10258

In [10]:
data.duplicated().sum()

365

In [9]:
data.isnull().sum()

id                           0
title                       12
vote_average                 0
vote_count                   0
status                       0
release_date            148636
revenue                      0
runtime                      0
adult                        0
backdrop_path           776316
budget                       0
homepage                953454
imdb_id                 480290
original_language            0
original_title              12
overview                201051
popularity                   0
poster_path             315837
tagline                 916352
genres                  410332
production_companies    573113
production_countries    453748
spoken_languages        437987
keywords                768988
dtype: int64